# Hidden Admin Configuration Template
# Set your desired secret route name (e.g. srit-mgmt-panel)
VITE_ADMIN_ENDPOINT=srit-mgmt-panel

# Admin Credentials
VITE_ADMIN_EMAIL=your_admin_email@example.com
VITE_ADMIN_PASSWORD=YourStrongPassword#2024
